html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5为旧浏览器显示角色重置 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.en {
  display: none;
}

* {
  -webkit-overflow-scrolling: touch;
  font-family: "Microsoft YaHei", Helvetica, STHeiTi, "Helvetica Neue", "微软雅黑", SimSun, sans-serif;
}

.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}

.tiansshop_layerC {
  position: fixed;
  z-index: 20891014;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.tiansshop_layerC .tsl_Bg {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tiansshop_layerC .tsl_Content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 6.8rem;
  height: 4.053333rem;
  background-color: #fff;
}

.tiansshop_layerC .tsl_Content .tsl_header {
  line-height: 1.173333rem;
  color: #030303;
  font-size: 0.453333rem;
  text-align: center;
  font-family: PingFangSC-Medium;
  border-bottom: 0.026667rem solid #009943;
}

.tiansshop_layerC .tsl_Content .tsl_body {
  height: 1.72rem;
  padding: 0.533333rem 0.533333rem 0;
  line-height: 0.533333rem;
  color: #030303;
  font-size: 0.373333rem;
  text-align: center;
  font-family: PingFangSC-Regular;
  border-bottom: 0.026667rem solid #E1E1E1;
  box-sizing: border-box;
}

.tiansshop_layerC .tsl_Content .tsl_footer {
  height: 1.093333rem;
  display: flex;
  flex-direction: row-reverse;
  line-height: 1.093333rem;
  text-align: right;
  color: #030303;
  font-size: 0.4rem;
}

.tiansshop_layerC .tsl_Content .tsl_footer div {
  flex: 1;
  text-align: center;
}

.tiansshop_layerC .tsl_Content .tsl_footer div:nth-child(1) {
  border-left: 0.026667rem solid #E1E1E1;
}

.tiansshop_layerC .tsl_Content .tsl_footer .greentext {
  color: #009943;
}

.navigation {
  position: absolute;
}

.address_box {
  height: 100vh;
  padding-top: 1.2rem;
  padding-bottom: 0;
  box-sizing: border-box;
  overflow: scroll;
}

.addressList {
  padding: 0 0.4rem;
  padding-bottom: 1.546667rem;
}

.addressList ul {
  list-style: none;
}

.addressList ul li {
  padding: 0.4rem 0 0;
  border-bottom: 0.013333rem solid #E1E1E1;
}

.addressList ul li .addleft {
  width: 7.733333rem;
}

.addressList ul li .addleft .title {
  height: 0.48rem;
  line-height: 0.48rem;
  color: #000000;
  font-size: 0.346667rem;
}

.addressList ul li .addleft .title .name {
  width: 2.666667rem;
  display: inline-block;
}

.addressList ul li .addleft .title .name .normal {
  padding: 0 0.266667rem;
  height: 0.426667rem;
  line-height: 0.426667rem;
  color: #009943;
  font-size: 0.293333rem;
  font-style: normal;
  margin-left: 0.306667rem;
  border: 0.026667rem solid #009943;
  border-radius: 0.053333rem;
}

.addressList ul li .addleft .addline {
  margin-top: 0.28rem;
  line-height: 0.453333rem;
  color: #848484;
  font-size: 0.32rem;
}

.addressList ul li .addleft .ifcheck {
  margin-top: 0.173333rem;
  width: 100%;
  box-sizing: border-box;
  height: 0.666667rem;
  display: block;
  line-height: 0.426667rem;
  color: #000000;
  font-size: 0.293333rem;
  padding-bottom: 0.24rem;
  padding-left: 0.586667rem;
}

.addressList ul li .addleft .checksel {
  background: url(../images/personal_check_mr2.png) no-repeat left top;
  background-size: 0.4rem 0.4rem;
}

.addressList ul li .addleft .checksel input {
  display: none;
}

.addressList ul li .addleft .checkseled {
  background: url(../images/personal_check_mr1.png) no-repeat left top;
  background-size: 0.4rem 0.4rem;
}

.addressList ul li .addright {
  line-height: 1.626667rem;
  padding-left: 0.533333rem;
}

.addressList ul li .addright img {
  width: 0.666667rem;
  height: 0.666667rem;
  position: relative;
  top: 0.133333rem;
}

.addressList ul .noaddress {
  line-height: 1.253333rem;
  text-align: center;
  color: #A0A0A0;
  font-size: 0.32rem;
}

.bottomBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.546667rem;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  box-sizing: border-box;
  padding: 0.266667rem 0.4rem;
}

.bottomBtn a {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  background: #23BCBA;
  background: -webkit-linear-gradient(left, #23BCBA, #009943);
  background: -o-linear-gradient(right, #23BCBA, #009943);
  background: -moz-linear-gradient(right, #23BCBA, #009943);
  background: linear-gradient(to right, #23BCBA, #009943);
  border-radius: 1.333333rem;
  font-size: 0.373333rem;
  color: #FFFFFF;
  line-height: 1.013333rem;
  text-align: center;
}

.d-flex {
  font-size: 0.346667rem;
  display: flex;
}

.d-flex .flex-name {
  display: flex;
}

.d-flex .flex-name .max-width-150 {
  max-width: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.293333rem;
}

.d-flex .normal {
  padding: 0 0.266667rem;
  height: 0.426667rem;
  line-height: 0.426667rem;
  color: #009943;
  font-size: 0.293333rem;
  font-style: normal;
  margin: 0 0.266667rem;
  border: 0.026667rem solid #009943;
  border-radius: 0.053333rem;
}

.flex-space-betweeen {
  justify-content: space-between;
}