html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5为旧浏览器显示角色重置 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.en {
  display: none;
}

* {
  -webkit-overflow-scrolling: touch;
  font-family: "Microsoft YaHei", Helvetica, STHeiTi, "Helvetica Neue", "微软雅黑", SimSun, sans-serif;
}

.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}

.log_box {
  padding-top: 1.2rem;
}

.refund_content {
  position: relative;
}

.log_content {
  padding: 0 0.32rem;
  width: 100%;
  box-sizing: border-box;
}

.log_content .items {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}

.log_content .item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 0.013333rem solid #E1E1E1;
  padding: 0.4rem 0;
}

.log_content .item .biao img {
  width: 0.346667rem;
  height: 0.346667rem;
}

.log_content .item .biao .graycircle {
  width: 0.186667rem;
  height: 0.186667rem;
  border-radius: 50%;
  background-color: #8D8D8D;
  display: inline-block;
  margin: 0 0.08rem;
}

.log_content .item .info {
  margin-left: 0.266667rem;
  line-height: 0.48rem;
  color: #232323;
  font-size: 0.346667rem;
  text-align: left;
}

.log_content .item .active {
  color: #009943;
}

.norecord {
  line-height: 1.253333rem;
  color: #a0a0a0;
  font-size: 0.32rem;
  text-align: center;
}