html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5为旧浏览器显示角色重置 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.en {
  display: none;
}

* {
  -webkit-overflow-scrolling: touch;
  font-family: "Microsoft YaHei", Helvetica, STHeiTi, "Helvetica Neue", "微软雅黑", SimSun, sans-serif;
}

.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}

.home_top {
  height: 1.44rem;
  border-bottom: 0.026667rem solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_top span {
  color: #232323;
  font-size: 0.453333rem;
  text-align: center;
}

.home_top img {
  width: 0.533333rem;
  height: 0.533333rem;
}

.home_top .return {
  margin-left: 0.16rem;
}

.home_top .search {
  margin-right: 0.16rem;
}

.refund_content {
  position: relative;
}

.commodity {
  width: 9.333333rem;
  height: 2.933333rem;
  padding-left: 0.4rem;
  padding-right: 0.266667rem;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.commodity .img img {
  width: 2.4rem;
  height: 2.373333rem;
}

.commodity .detail {
  margin-left: 0.266667rem;
}

.commodity .detail .title {
  margin-bottom: 0.226667rem;
}

.commodity .detail .title span {
  width: 6.666667rem;
  line-height: 0.44rem;
  color: #232323;
  font-size: 0.32rem;
}

.commodity .detail .describe {
  line-height: 0.4rem;
  color: #a0a0a0;
  font-size: 0.293333rem;
  text-align: left;
  margin-bottom: 0.226667rem;
}

.commodity .detail .prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commodity .detail .prices .price {
  height: 0.493333rem;
  line-height: 0.4rem;
  color: #de0000;
  font-size: 0.293333rem;
  text-align: center;
}

.commodity .detail .prices .num span {
  line-height: 0.4rem;
  color: #232323;
  font-size: 0.293333rem;
  text-align: left;
}

.reason,
.money,
.explain {
  width: 9.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.013333rem solid #e1e1e1;
}

.reason div:nth-child(1) span,
.money div:nth-child(1) span,
.explain div:nth-child(1) span {
  color: #000000;
  font-size: 0.346667rem;
  text-align: left;
}

.reason,
.money {
  height: 1.133333rem;
}

.refund_reason {
  display: flex;
  align-items: center;
}

.refund_reason span {
  color: #000000;
  font-size: 0.346667rem;
  text-align: left;
}

.refund_reason img {
  width: 0.533333rem;
  height: 0.533333rem;
}

.refund_money span {
  line-height: 0.493333rem;
  color: #009943;
  font-size: 0.346667rem;
  text-align: right;
}

.refund_explain {
  width: 6.466667rem;
  line-height: 0.493333rem;
  padding: 0.32rem 0;
  color: #232323;
  font-size: 0.346667rem;
  text-align: left;
}

.refund_explain span {
  color: #232323;
  font-size: 0.346667rem;
  text-align: left;
}

.upload {
  height: 3.333333rem;
  width: 9.2rem;
  padding: 0.32rem 0.4rem;
  background-color: #ffffff;
}

.upload div:nth-child(1) {
  margin-bottom: 0.32rem;
}

.upload div:nth-child(1) span {
  color: #000000;
  font-size: 0.346667rem;
  text-align: left;
}

.upload .refund_upload img {
  width: 1.866667rem;
  height: 1.866667rem;
  border-radius: 0.08rem;
  border: 0.020933rem solid #979797;
}

.submit_box {
  width: 10rem;
  height: 5.52rem;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.submit_box .submit {
  width: 9.2rem;
  height: 1.013333rem;
  border-radius: 1.333333rem;
  margin-left: 0.4rem;
  text-align: center;
  line-height: 1.013333rem;
  margin-bottom: 0.28rem;
  background: -webkit-linear-gradient(left, #23bcba, #009943);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #23bcba, #009943);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #23bcba, #009943);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #23bcba, #009943);
  /* 标准的语法 */
}

.submit_box .submit span {
  color: #ffffff;
  font-size: 0.373333rem;
  text-align: center;
}

.select_box {
  width: 10rem;
  height: 16.08rem;
  position: fixed;
  display: none;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.select_box .select_list {
  width: 10rem;
  height: 9.186667rem;
  padding: 0.266667rem 0;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 22;
}

.select_box .select_list span {
  color: #232323;
  font-size: 0.373333rem;
  text-align: center;
}

.select_box .select_list .head {
  text-align: center;
}

.select_box .select_list .item {
  height: 1.066667rem;
  width: 9.466667rem;
  padding: 0 0.266667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.013333rem solid #e1e1e1;
}

.select_box .select_list .item img {
  width: 0.8rem;
  height: 0.8rem;
}

.select_box .sure {
  width: 9.2rem;
  height: 1.013333rem;
  line-height: 1.013333rem;
  text-align: center;
  border-radius: 1.333333rem;
  margin-left: 0.4rem;
  position: absolute;
  bottom: 0.266667rem;
  background: -webkit-linear-gradient(left, #23bcba, #009943);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #23bcba, #009943);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #23bcba, #009943);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #23bcba, #009943);
  /* 标准的语法 */
}

.select_box .sure span {
  color: #ffffff;
  font-size: 0.373333rem;
  text-align: center;
}